@import "variables";

.navbar {
  transition: all 0.4s ease-in-out;
  padding-top: 1.5rem;

  // Estilo quando o usuário rola a página
  &.scrolled {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;

    // Aplicando seu CSS de Glassmorphism
    background: rgba(1, 17, 38, 0.52) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(1, 17, 38, 0.66);

    // Opcional: faz o header não encostar nas bordas para ressaltar o radius
    margin: 10px 20px;
    width: calc(100% - 40px);
  }

  .nav-link {
    color: rgba($poseidon-white, 0.8) !important;
    font-weight: 500;

    &:hover {
      color: $poseidon-yellow !important;
    }
  }
}
