@import "variables";

.navbar {
  transition: all 0.4s ease-in-out;

  background: rgba(1, 17, 38, 0.52) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;

  .navbar-toggler {
    margin-right: 0;
    padding: 0.5rem;
    border: none;

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      filter: brightness(0) invert(1);
    }

    .nav-link {
      color: rgba($poseidon-white, 0.8) !important;
      font-weight: 500;

      &:hover {
        color: $poseidon-yellow !important;
      }
    }
  }
}
