@use "variables" as *;

.hero {
  background-color: $poseidon-blue;

  &__background {
    position: absolute;
    inset: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.2;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        90deg,
        $poseidon-blue 0%,
        rgba($poseidon-blue, 0.9) 50%,
        transparent 100%
      );
    }
  }

  &__title {
    font-size: clamp(3rem, 8vw, 5rem);
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;

    span {
      color: $poseidon-yellow;
    }
  }

  &__description {
    max-width: 600px;
    line-height: 1.6;
  }

  &__divider {
    border: 0;
    border-top: 1px solid $poseidon-white;
    width: 100%;
    max-width: 600px;
  }

  &__stats-number {
    color: $poseidon-yellow;
    display: block;
    margin-bottom: -5px;
  }
}
