// Cores Principais
$poseidon-blue: #011126;
$poseidon-yellow: #f2af5c;
$poseidon-white: #edf7f8;

// Cores de Apoio
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$overlay-blue: rgba(17, 17, 132, 0.3);

// Transições e Bordas
$transition: all 0.3s ease;
$border-radius: 5rem;
