@import "../../styles/variables";

.btn-poseidon {
  border-radius: $border-radius;

  &--primary {
    background-color: $poseidon-yellow;
    border: 1px solid $poseidon-yellow;
    color: $poseidon-blue;

    &:hover {
      background-color: #ca924d;
      border: 1px solid #ca924d;
      color: $poseidon-blue;
    }
  }

  &--secondary {
    border: 1px solid $poseidon-yellow;
    background-color: transparent;
    color: $poseidon-white;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ca924d;
      border: 1px solid #ca924d;
      color: $poseidon-blue;
    }
  }
}
